@import url(./_global.css);
@import url(./_utility.css);

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
}

.d-menu ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.d-menu ul li{
    padding: 2rem;
    color: var(--theme-text-dull);
    font-size: 1.6rem;
    font-weight: 600;
}

.d-menu ul li:hover{
    color: var(--theme-color);
}
.intro-section{
    display: flex;
    margin: 7rem auto;
}
.intro-text{
    max-width: 50%;
    padding: 2rem 0;
}

.float-bg{
    position: absolute;
    bottom: 100px;
    left: 50px;
    z-index: -1;
    animation: bounce 4s ease 0.5s infinite alternate;
}

.introduction .tag-line{
    font-weight: 700;
    font-size: 2.8rem;
    margin-bottom: 3rem;
    color: var(--theme-color);
}

.introduction .main-line{
    font-weight: 700;
    color: var(--theme-text);
    font-size: 4.6rem;
    margin-bottom: 3rem;;
    position: relative;
}

.highlight::before{
    content:"";
    width: 315px;
    height: 20%;
    background-color: #1da1f2;
    position: absolute;
    bottom: 0;
    z-index: -1;
    opacity: 0.3;
}

.introduction .description{
    font-size: 1.8rem;
    color: var(--theme-text-long);
    margin-bottom: 4rem;
}

.intro-images{
    position: relative;
    width: 50%;
    text-align: center;
}

.float-bl{
    position: absolute;
    bottom: 100px;
    left: 50px;
    animation: bounce 2s ease 0.5s infinite alternate, slideRight 0.5s ease 0s 1 alternate;
}

.float-tr{
    position: absolute;
    top: 50px;
    right: 50px;
    animation: bounce 2.1s ease 0.5s infinite alternate, slideLeft 0.5s ease 0s 1 alternate;
}

@keyframes bounce {
    0%{
        transform: translateY(0px);
    }
    100%{
        transform: translateY(20px);
    }
}

@keyframes slideRight {
    0%{
        transform: translateX(-50px);
    }
    100%{
        transform: translateX(0px);
    }
}

@keyframes slideLeft {
    0%{
        transform: translateX(50px);
    }
    100%{
        transform: translateX(0px);
    }
}